<form method='POST' action='process'>
    <div>{{ form.airmass.label }}: {{ form.airmass() }}</div>
    <div>{{ form.clearsky.label }}: {{ form.clearsky() }}</div>
    <div><input type='submit' value='Process'/></div>
</form>