/* Obsessive compulsive behaviour: Nobody touch the borders! */
.page {
    font-size: 100%;
    margin: 20px 20px 20px 20px;
    line-height: 1.3rem;
}

/* MAIN STRUCTURE */
/* This is an ID because we only use it once and specifically*/
#header {
    width: 100%;
    z-index: 1;
    display: inline-block;
}

#title {
    float: left;
    font-size: 1.5rem;
}

/* inside the header */
#meta {
    float: right;
    font-size: 1rem;
}

/* This is a class because it will be used multiple times (2) */
.column {
    margin-top: 15px;
    display: inline-block;
}

/* first column */
#entries {
    float: left;
    width: 80%;
}

/* second column */
#navigation {
    float: right;
    background-color: beige;
    width: 20%;
    text-align: left;
}

/* ENTRIES */
.entry {
    display: block;
    margin-bottom: 20px;
}

.entry_title{
    font-size: 1rem;
    font-weight: bold;
}

.entry_body{
    font-size: 1rem;
}

.en {
    float: left;
    width: 50%;
    color: rgb(38,38,38);
    text-align: justify;
}

.pt {
    float: right;
    width: 50%;
    color: rgb(38,38,38);
    font-style: italic;
    text-align: justify;
}

.entry_category{
}

.entry_footer{
    width: 100%;
    clear: both;
    color: lightgrey;
}

/* FORMS */
.form_title{
    float: left;
    width: 100%;
}

.form_field{
    float: left;
    width: 100%;
}

.form_input_big{
    width: 80%;
    height: 10rem;
}

.form_button{
    display: block;
    align:left;
}
/* TEXT */

#title a {
    color: rgb(38, 38, 38);
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: underline;
    color: blue;
}

.flash{
    color: red;
}