{% extends "layout.html" %}
{% block body %}
    <div class="column" id="entries">
        {% for category in categories %}
            <div class="entry">
                <div class="en">
                    <div class="entry_title">
                        <a href=/categories/{{category.id}}>{{ category.title_en }}</a>
                    </div>
                </div>
                <div class="pt">
                    <div class="entry_title">
                        <a href=/categories/{{category.id}}>{{ category.title_pt }}</a>
                    </div>
                </div>
                <div class="entry_footer">
                    {% if session.logged_in %}<a href=/categories/{{category.id}}/edit>edit</a>{% endif %}
                </div>
            </div>
        {% else %}
            <div class="entry">
                <div class="en">
                    <div class="entry_title">Nothing to show here</div>
                </div>
                <div class="pt">
                    <div class="entry_title">Nada a mostrar</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
