{% extends "layout.html" %}
{% block body %}
    <div class="column" id="entries">
        <div class="entry">
            <div class="en">
                <div class="entry_title">{{ entry.title_en }}</div>
                <div class="entry_body">{{ entry.text_en|safe }}</div>
                <div class="entry_category"><a href=/categories/{{entry.category_id}}>{{entry.category_id}}</a></div>
            </div>
            <div class="pt">
                <div class="entry_title">{{ entry.title_pt }}</div>
                <div class="entry_body">{{ entry.text_pt|safe }}</div>
                <div class="entry_category"><a href=/categories/{{entry.category_id}}>{{entry.category_id}}</a></div>
            </div>
            <div class="entry_footer">
                {{ entry.date_created }} - {{ entry.date_updated }}
                {% if session.logged_in %} <a href=/entries/{{entry.id}}/edit>Edit</a>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
