{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <div class="column" id="entries">
            <form action="{{ url_for('add_entry') }}" method=post>
                <input type=hidden name="id" value="">
                <div class="entry">
                    <div class="en">
                        <div class="entry_title">
                            <div class="form_title">Title</div>
                            <div class="form_field"><input type=text name="title_en" size=30 value=""></div>
                        </div>
                        <div class="entry_body">
                            <div class="form_title">Text</div>
                            <div class="form_field"><textarea name="text_en" class="form_input_big"></textarea></div>
                        </div>
                        <div class="entry_category">
                            <div class="form_title">Category</div>
                            <div class="form_field">
                                <select name="category_id">
                                    <option value="NULL"></option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.title_en }} | {{ category.title_pt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="pt">
                        <div class="entry_title">
                            <div class="form_title">Título</div>
                            <div class="form_field"><input type=text name="title_pt" size=30 value=""></div></div>
                        <div class="entry_body">
                            <div class="form_title">Texto</div>
                            <div class="form_field"><textarea name="text_pt" class="form_input_big"></textarea></div></div>
                        <div class="entry_category">
                            <div class="form_title">Categoria</div>
                        </div>
                    </div>
                    <div class="entry_footer">
                        <div class="form_title">Date created</div>
                        <div class="form_field"><input type=date name="date_created" value="{{ current_time }}"></div>
                        <div class="form_title">Date updated</div>
                        <div class="form_field"><input type=date name="date_updated" value="{{ current_time }}"></div>
                    </div>
                </div>
                <input class="form_button" type=submit value=Share>
            </form>
      </div>
  {% else %}
    <h1>403 Forbidden</h1>
  {% endif %}
{% endblock %}
