<!doctype html>
<head><title>Patife.com</title><meta charset="utf-8"></head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <div id="header">
        <div id="title"><a href="{{ url_for('view_entries') }}">Patife.com</a></div>
        <div id="meta">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Log in</a>
            {% else %}
                <a href="{{ url_for('new_entry') }}">New Entry </a> | <a href="{{ url_for('new_category') }}">New Category</a> | <a href="{{ url_for('logout') }}">Log out</a>
            {% endif %}
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="column" id="navigation">
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        <div class="en"><div class="entry_body"><a href="{{ url_for('view_categories') }}">Categories</a></div></div>
        <div class="pt"><div class="entry_body"><a href="{{ url_for('view_categories') }}">Categorias</a></div></div>
    </div>
</div>
