{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <script src="{% static 'js/sockjs-1.1.1.js' %}"></script>
    <script src="{% static 'js/client.js' %}"></script>
    <script>app.connect();</script>
    <input type="text" id="msg"/>
    <input type="button" onclick="app.sendMessage();" value="Send"/>
</body>
</html>