h1 {
	width: 100%;
	text-align: center;
}
table.main {
	width: 100%;
}
td.main {
    width: 50%;
}
#pFieldTd {
    text-align: right;
}
#eFieldTd {
	text-align: left;
}
table.battlefield {
    border-collapse: collapse;	
}
table.battlefield td {
    width: 50px;
    height: 50px;
}
table.battlefield td.empty {
    border: 1px solid #babdb6;
    background-color: #40bfb0;
}
table.battlefield td.ship {
    border: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
}