<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Battleships!</title>
    <link rel='stylesheet' href='{{ static_url('battleship.css') }}' type='text/css'>
  </head>
  <body>
    <h1>Welcome to Battleships!</h1>
    <table class='main' id='vueApp'>
      <tr>
        <td>Your field</td>
        <td>
          Enemy's field
          <input v-on:click="startAi" type='button' value='Against AI'/>
          <input v-on:click="startHuman" type='button' value='Against human'/>
        </td>
      </tr>
      <tr>
        <td><battlefieldown ref='ownfield' v-bind:size='size' v-bind:started='started'></battlefield></td>
        <td><battlefieldenemy ref='enemyfield' v-bind:size='size' v-bind:started='started' v-on:shoot="shooted"></battlefieldenemy></td>
      </tr>
    </table>
    <ul>
	    <li>Click left mouse button on empty area to place ship</li>
	    <li>Click left mouse button on ship to remove it</li>
	    <li>Click button to start game</li>
	    <li>Click left mouse button to shoot</li>
    </ul>
    <script src='{{ static_url('vue.js') }}' type='text/javascript'></script>
    <script src='{{ static_url('battleship.js') }}' type='text/javascript'></script>
  </body>
</html>